body
{
background-color:#303030;
color:#ffffff;
font-family: verdana;
font-size: 20px;
text-align: center;
}

#zegar
{
	font-size:70px;
	letter-spacing: 3px;
}

.tile1
{
	height:142px;
	background-color: #3095d3;
	margin: 15px 0px;
}

.tile1:hover
{
	background-color:#0062a0;
}

.tile2
{
	height:142px;
	background-color: #666666;
	margin: 15px 0px;
}

.tile2:hover
{
	background-color:#444444;
}

.tile3
{
	height:142px;
	background-color: #93c748;
	margin: 15px 0px;
}

.tile3:hover
{
	background-color:#60a415;
}

.tile4
{
	height:142px;
	color: #ffd700;
	background-color: #000000;
	margin: 15px 0px;
	font-size:24px;
}

.tile4:hover
{
	color:#ffff33;
	font-size:26px;
}

.tile5
{
	height:142px;
	margin: 15px 0px;
	border: 1px solid silver;
}

.tile6
{
	height:142px;
	background-color: #d94348;
	margin: 15px 0px;
}

.tile6:hover
{
	background-color:#a61015;
}

.tile7
{
	height:142px;
	background-color: #4668b3;
	margin: 15px 0px;
}

.tile7:hover
{
	background-color:#1335a0;
}

.tile8
{
	height:142px;
	background-color:#bdbdbd;
	margin: 15px 0px;
}

.tile8:hover
{
	background-color:#999999;
}

.tile9
{
	height:142px;
	background-color: #e24329;
	margin: 15px 0px;
}

.tile9:hover
{
	background-color:#b01006;
}

.tile10
{
	height:142px;
	margin: 15px 0px;
	border: 1px solid silver;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display: block;
	height:142px;
}

.container img
{
	width: 100%;
	height: 100%;
}
